.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #2e9afe;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  color: white;
}

.App-footer {
  background-color: #2e9afe;
  height: 150px;
  display: flex;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
