.Home {
  text-align: center;
  height: 200vh;
  transform: skewY(10deg);
  transform-origin: top right;
}

.Home-top {
  background: linear-gradient(#0080ff, #58fad0 80%);
  height: 150vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-top-content {
  transform: skewY(-10deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-top-form {
  color: #2e9afe;
  padding: 20px;
}

.Home-top-title {
  padding-bottom: 20px;
  font-weight: lighter;
  font-size: 30px;
}

.Home-text-row {
  display: flex;
  justify-content: space-around;
}

.Home-about {
  transform: skewY(-10deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Home-about-text {
  text-align: right;
  margin-top: 20vh;
  margin-left: 20vh;
  font-size: 150%;
}

.text-lighter {
  font-weight: lighter;
}

.text-bolder {
  font-weight: bolder;
}